.taleTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bolder;
    /* color: blanchedalmond; */
}

.taleContent {
    display: flex;
    border: black solid 2px;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    font-size: larger;
    box-shadow: black;
    box-shadow: 10px 5px 5px black;
}

.taleContainer {
    box-shadow: 10px 5px 5px black;
    background-color: blanchedalmond;
}

.spacer {
    height: 1rem;
}

.commentsTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.commentBox {
    border: black solid 3px;
    background-color: white;
}
