.taleEditor {
    background-color: wheat;
    box-shadow: 10px 5px 5px black;
}

.ql-container {
    height: 12rem;
    background-color: white;
}

/* .container {
    border: solid 5px;
} */

/* .taleTitle {
    margin-bottom: 0.5rem;
} */

.btn {
    font-weight: bolder;
}

